apiVersion: v1
kind: Service              
metadata:
  name: todo-backend-service
spec:
  type: LoadBalancer       
  ports:
  - port: 80               
    protocol: TCP          
    targetPort: 80         
  selector:                
    app: todo-backend      